@import '_variables';

/* default styles for all devices */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .main-header {
    display: flex;
    justify-content: center;
    font-size: $title-font-size;
    color: $primary-color;
    margin-top: 1em;
  
    & h1 {
      margin: 0;
    }
  }
  
  .main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $text-font-size;
    color: $primary-color;
    margin-bottom: 1em;
  
    & p {
      text-align: center;
      margin: 0;
    }
  }
  
  .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
  
    & img {
      width: 100%;
    }
  }

  .menu {
    display: none;
  }
  
 