//Background colors
$background-color: black;

// Colors
$primary-color: white;

// Font sizes
$title-font-size: 72px;
$link-font-size: 16px;
$logo-font-size: 24px;
$text-font-size: 22px;

//Phone font sizes
$phone-title-font-size: 36px;
$phone-text-font-size: 12px;